<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Demo11</title>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="./vue.js"></script>
    </head>

    <body>
        <div id="app"></div>
    </body>
    <script>
        // 两种方式 三元运算符 v-if
        const app = Vue.createApp({
            data() {
                return {
                    message: 'jspang.com',
                    i:0
                }
            },
            methods: {
                handleItemClick() {
                    //this.message = this.message == 'jspang.com' ? "技术胖" : "jspang.com"
                    let arr = ['jspang.com','技术胖','bilibili']
                        if(this.i<2){
                            this.i++
                        }else{
                            this.i = 0
                        }
                        this.message = arr[this.i]
                        console.log(this.i);
                }
            },
            template:  `
<h2 @click="handleItemClick" v-if="message=='jspang.com'" class="one" > {{message}} </h2>
<h2 @click="handleItemClick" v-if="message=='技术胖'" class="two"> {{message}} </h2>
<h2 @click="handleItemClick" v-if="message=='bilibili'"  class="three"> {{message}} </h2>
    `

        })
        const vm = app.mount("#app")
    </script>
    <style>
        .one {color: red;}
        .two {color: green;}
        .three{color:orange;}
    </style>
</html>